#main {
    display: flex;
}

#buttonDiv {
    margin-left: 500px;
}

#start, #reset, #moveLeft, #moveRight{
    width: 100px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#start:hover {
    background-color: #0056b3;
}


#reset:hover {
    background-color: #0056b3;
}

#muteButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#muteButton:hover {
    background-color: #0056b3;
}
